<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
        .cookie-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    text-align: center;
}

.cookie-message a {
    color: blue;
    text-decoration: underline;
}

.cookie-message button {
    margin-left: 10px;
}
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('homepage') }}">Moj sklep</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_list') }}">Lista produktow</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cart_index') }}">Koszyk ({{ app.session.get('cartItemCount') ?? 0 }})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about_us') }}">O nas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('my_account') }}">Moje konto</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj sie</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Zaloguj sie</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div style="display: none" class="cookie-message" id="cookie-message">
    Ta witryna wykorzystuje pliki cookie, aby zapewnić najlepsze doświadczenia dla użytkowników. <a href="/privacy-policy">Polityka prywatności</a>
    <button id="accept-cookies">Akceptuj</button>
</div>

        {% block body %}{% endblock %}
        <script>
        document.addEventListener('DOMContentLoaded', function() {
    var acceptButton = document.getElementById('accept-cookies');
    var cookieMessage = document.getElementById('cookie-message');
    var xhr = new XMLHttpRequest();
        xhr.open('POST', '/accept-cookies');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                if(response.success == false) {
                    cookieMessage.style.display = 'block';
                } 
            }
        };
        xhr.send(JSON.stringify({}));

    acceptButton.addEventListener('click', function() {
        cookieMessage.style.display = 'none'; // Ukryj komunikat o plikach cookie po akceptacji

        // Wyślij żądanie AJAX do kontrolera Symfony
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/accept-cookies-true');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                console.log(response);
            }
        };
        xhr.send(JSON.stringify({}));
    });
});
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
